!/.gitignore

# Игнорировать все .pyc файлы:
**/*.pyc

# Логи — любые файлы *.log и ротации *.log.N
*.log
*.log.*

# Любая папка logs/ на любом уровне
**/logs/**


# Игнорировать все файлы в каталоге __pycache__:
**/__pycache__

# Игнорировать все виртуального окружения:
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Игнорировать медиа и файлы:
**/media/*
**/files/*
