# mariadb/my.cnf
[mysqld]
# --- Charset ---
character-set-client-handshake = FALSE
character-set-server           = utf8mb4
collation-server               = utf8mb4_unicode_ci
skip-character-set-client-handshake

# --- InnoDB ---
innodb-file-per-table = 1
innodb-buffer-pool-size = 1G
innodb-log-file-size = 256M
innodb-log-buffer-size = 64M

# --- Limits / Perf ---
max_allowed_packet = 64M
wait_timeout       = 600
interactive_timeout = 600

# --- Network / Docker ---
bind-address = 0.0.0.0

# --- SSL off (внутренняя сеть) ---
ssl = 0
skip_ssl

# --- SQL mode: пустой, как ты и хотел ---
sql_mode = ""