# mariadb/my.cnf
[mysqld]
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-character-set-client-handshake

# InnoDB
innodb-file-per-table = 1
innodb-buffer-pool-size = 1G
innodb-log-file-size = 256M
innodb-log-buffer-size = 64M
max_allowed_packet = 64M

# Performance / misc
wait_timeout = 600
interactive_timeout = 600
sql_mode = ""

