Babel
Jinja2
MarkupSafe
PyJWT
PyMySQL
PyQRCode
PyYAML
RestrictedPython
Werkzeug
aiohttp
annotated-types
asttokens
async-timeout
backcall
backoff
barcodenumber
beautifulsoup4
bleach
bleach-allowlist
boto3
botocore
cairocffi
certifi
cffi
chardet
charset-normalizer
click
croniter
cryptography
cssselect
cssselect2
cssutils
dataclasses-json
decorator
distro
docopt
dropbox
email-reply-parser
et-xmlfile
exceptiongroup
executing
filelock
filetype
fonttools
frappe
frappe-bench
gitdb
GitPython
google-api-core
google-auth
google-auth-httplib2
google-auth-oauthlib
google-api-python-client
googlemaps
gunicorn
hiredis
holidays
honcho
html5lib
httplib2
idna
ipython
isodate
jedi
jmespath
ldap3
lxml
markdown2
markdownify
matplotlib-inline
maxminddb
monotonic
mypy-extensions
num2words
oauthlib
openpyxl
packaging
passlib
pdfkit
pexpect
phonenumbers
pickleshare
pillow
plaid-python
ply
posthog
premailer
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycountry
pycparser
pydantic
pydantic-core
pydyf
pygments
pyOpenSSL
pyotp
pyparsing
pypdf
pyphen
pypika
pypng
python-crontab
python-dateutil
python-stdnum
python-youtube
pytz
pyyaml
rapidfuzz
rauth
redis
requests
requests-oauthlib
rq
rsa
semantic-version
sentry-sdk
setuptools
six
smmap
soupsieve
sql-metadata
sqlparse
stack-data
traitlets
typing-extensions
typing-inspect
unidecode
uritemplate
urllib3
uv
vobject
wcwidth
weasyprint
webencodings
wheel
Whoosh
xlrd
zopfli
zxcvbn
